* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Josefin Sans';
    margin: 0;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Content section */
  .content {
    padding: 70px;
    background-color: #696773;
    color: #F7F7FF;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  
  div.item {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 120px;
  }
  
  .caption {
      display: block;
  }
  
  a {
     text-decoration: none !important;
  }
  

  /* Colored button */
  
  .button {
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .button1 {
    background-color: #F7F7FF; 
    color: black; 
    border: 2px solid #313B72;
  }
  
  .button1:hover {
    background-color: #313B72;
    color: white;
  }
  
  /* Font family */
  .fontfam {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* color */
  .blue {
    color: #5DA9E9;
  }
  
  .sidebar-social {
      margin: 0;
      padding: 70px;
      background-color: #696773;
      color: #F7F7FF;
  }
  
  .sidebar-social ul {
      margin: 0;
      padding: 5px;
      background-color: #696773;
      color: #F7F7FF;
  }
  
  .sidebar-social li {
        text-align: center;
      width: 31.9%;
      margin-bottom: 3px!important;
      border: 1px; 
      display: inline-block;
      font-size: 10px;
      padding:0;
      background-color: #696773;
      color: #F7F7FF;
  }
  
  .sidebar-social i {
    display: block;
    margin: 0 auto 10px auto;
      width: 32px;
      height: 32px;
      margin: 10px auto 0;
      line-height: 32px;
      text-align: center;
      font-size: 20px;
      color: #444444;
    margin-top:0;
    padding-top:5px;
  }
  .sidebar-social a{
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
    margin:0;
    padding:0;
  }
  
  .sidebar-social a span{
    color:#F7F7FF;
    font-size:30px;
    padding:60px 0 10px 50px;
    display:block;
    text-transform:uppercase;
    font-family:'Josefin Sans';
    letter-spacing:1px;
  }

  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 50px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  a:link {
    color: #4b4e6d;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #5DA9E9;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #F7F7FF;
    background-color: transparent;
    text-decoration: none;
  }

  .container {
    display: flex; /* Utilizar flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-left: 10em;
}

.image {
    flex-shrink: 0; /* Evitar que la imagen se reduzca para adaptarse al contenido */
    margin-right: 20em; /* Espacio entre la imagen y el texto */
}

  .background-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}
.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Images/computer-coding_R.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(30%); /* Ajusta la opacidad según tus necesidades */
    z-index: 1;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2; /* Asegura que el texto esté encima de la imagen de fondo */
}

.section {
  background-color: #eff1f3;
    color: black;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .text-content {
  flex: 1;
  margin-right: 0; /* Espacio entre el texto y la imagen */
  max-width: 40%;
}

.section p, .section ul {
    margin-left: 0; /* Elimina márgenes predeterminados */
}

.section p {
  margin: 1em 0;
  font-size: 20px;
}

.section ul {
    list-style: none; /* Elimina viñetas de la lista */
    padding-left: 0; /* Ajusta el relleno izquierdo para alinear con los párrafos */
    margin: 1em 0;
}

.section ul li {
    margin-bottom: 0.75em; /* Espaciado entre elementos de la lista */
    display: flex;
    align-items: center;
}

.section ul li i {
    margin-right: 1%; /* Espacio entre el icono y el texto */
    font-size: 20px;
}

.section .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.section .image-container img {
  max-width: 100%; /* Ajusta la imagen al contenedor */
  height: auto; /* Mantén la proporción de la imagen */
  width: 550px;
}

.custom-strong {
  font-weight: bold; /* Ajusta el grosor del texto en negrita */
}

.list-container {
  margin-top: 0; /* Eliminar margen superior de la lista */
  padding-left: 0; /* Eliminar relleno izquierdo de la lista */
}

.list-container li {
  list-style-type: disc; /* Cambiar el tipo de viñeta de la lista */
  margin-bottom: 0.5em; /* Espaciado entre elementos de la lista */
}