/* color_text */
.yellow {
    color: yellow;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.gray {
    color: gray;
}

/* background_color */
.back_red {
    background-color: rgb(231, 178, 178);
}

.back_blue {
    background-color: lightblue;
}

.back_yellow {
    background-color: rgb(237, 241, 185);
}

.back_green {
    background-color: rgb(173, 230, 211);
}

/* blockquote */
.blockquote {
    max-width: 550px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    color: #428bca;
    background: #ccc;
    border-left:5px solid #428bca

}
